stages:
  - check
  - build
  - test
  - deploy

variables:
  FLATPAK_MODULE: "fractal"
  MANIFEST_PATH: "build-aux/org.gnome.Fractal.Devel.json"
  APP_ID: "org.gnome.Fractal.Devel"

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH || $CI_COMMIT_TAG

include:
  - local: .gitlab-ci/run_checks.yml
    rules:
      - if: $CI_COMMIT_TAG == null
  - local: .gitlab-ci/build.yml
    rules:
      - if: $CI_COMMIT_TAG == null
  - local: .gitlab-ci/test.yml
    rules:
      - if: $CI_COMMIT_TAG == null
  - local: .gitlab-ci/publish_docs.yml
    rules:
      - if: $CI_COMMIT_BRANCH == "main"
  - local: .gitlab-ci/publish_nightly.yml
    rules:
      - if: $CI_COMMIT_BRANCH == "main"
  - local: .gitlab-ci/create_release.yml
    rules:
      - if: $CI_COMMIT_TAG
