# Build the Flatpak

include: 'https://gitlab.gnome.org/GNOME/citemplates/-/raw/master/flatpak/flatpak_ci_initiative.yml'

variables:
  RUNTIME_REPO: "https://nightly.gnome.org/gnome-nightly.flatpakrepo"
  BUNDLE: "${APP_ID}.flatpak"

build@x86_64:
  extends:
    - .flatpak@x86_64
  stage: build
  artifacts:
    paths:
      - $BUNDLE
      - 'repo.tar'
      - '.flatpak-builder/build/${FLATPAK_MODULE}/_flatpak_build/meson-logs/meson-log.txt'
      - '.flatpak-builder/build/${FLATPAK_MODULE}/_flatpak_build/meson-logs/testlog.txt'
      # Add the metainfo file for the corresponding test.
      - '.flatpak-builder/build/${FLATPAK_MODULE}/_flatpak_build/data/${APP_ID}.metainfo.xml'

build@aarch64:
  extends:
    - .flatpak@aarch64
  stage: build

# Test builds with the stable runtime to make sure that the Flatpak will build on Flathub.
# Should be run manually before tagging a new release.
.build-stable:
  image: 'quay.io/gnome_infrastructure/gnome-runtime-images:gnome-46'
  variables:
    MANIFEST_PATH: ".gitlab-ci/org.gnome.Fractal.CiBuildStable.yml"
    APP_ID: "org.gnome.Fractal.CiBuildStable"
    RUNTIME_REPO: "https://flathub.org/repo/flathub.flatpakrepo"
    BUNDLE: "${APP_ID}.flatpak"
    RUN_TESTS: 0

build-stable@x86_64:
  extends:
    - .flatpak@x86_64
    - .build-stable
  stage: build
  when: manual

build-stable@aarch64:
  extends:
    - .flatpak@aarch64
    - .build-stable
  stage: build
  when: manual
