# Build the Flatpak

include:
  - project: "GNOME/citemplates"
    file: "flatpak/flatpak_ci_initiative.yml"
  - local: '.gitlab-ci/utils.yml'

variables:
  RUNTIME_REPO: "https://nightly.gnome.org/gnome-nightly.flatpakrepo"
  BUNDLE: "${APP_ID}.flatpak"

build@x86_64:
  extends:
    - .flatpak@x86_64
  stage: build
  after_script:
    # Copy the metainfo file to the current directory.
    - cp flatpak_app/files/share/metainfo/*.metainfo.xml .
  artifacts:
    paths:
      - $BUNDLE
      - 'repo.tar'
      - '.flatpak-builder/build/${FLATPAK_MODULE}/_flatpak_build/meson-logs/'
      # Add the metainfo file for the corresponding test.
      - '${APP_ID}.metainfo.xml'

build@aarch64:
  extends:
    - .flatpak@aarch64
  stage: build

# Test builds with the stable runtime to make sure that the Flatpak will build on Flathub.
# Should be run manually before tagging a new release.
.build_stable:
  extends:
    - .stable_runtime
  variables:
    RUNTIME_REPO: "https://flathub.org/repo/flathub.flatpakrepo"
    RUN_TESTS: 0

build-stable@x86_64:
  extends:
    - .flatpak@x86_64
    - .build_stable
  stage: build
  when: manual

build-stable@aarch64:
  extends:
    - .flatpak@aarch64
    - .build_stable
  stage: build
  when: manual
