# Tests after the app is built.

include: '.gitlab-ci/pages.yaml'

# Validate the metainfo with Flathub's tool.
metainfo:
  stage: test
  image:
    name: "ghcr.io/flathub/flatpak-builder-lint:latest"
    entrypoint: [""]
  variables:
    METAINFO: ".flatpak-builder/build/${FLATPAK_MODULE}/_flatpak_build/data/${APP_ID}.metainfo.xml"
  script:
    # This tool has extra tests on top of appstreamcli and is required to pass for Flathub.
    - flatpak-builder-lint appstream ${METAINFO}
    # Test also with the pedantic and strict flags.
    - appstreamcli validate --pedantic --explain --strict ${METAINFO}
  needs: ["build@x86_64"]

# Test that there are no errors in the docs.
test-pages:
  extends:
    - .pages
  stage: test
  variables:
    DOCS_FOLDER: "doc"
  rules:
    - if: $CI_COMMIT_BRANCH != "main"
