// High contrast variant.

// Initialize contrast variable.
@use 'stylesheet/config' with (
  $contrast: 'high',
);

@use 'stylesheet/common';
@use 'stylesheet/components';
@use 'stylesheet/login';
@use 'stylesheet/session_view';
