// Login and setup.

login {
  min-width: 250px;
}

qrcode {
  background-color: white;
  padding: 12px;
}

.sso-button {
  padding: 4px;
  -gtk-icon-size: 26px;
  min-height: 34px;
}

setup-view {
  clamp {
    margin: 12px;
  }

  .text-button {
    min-width: 200px;
  }
}
